<style>
    .footer {
                margin-top: 6%;
            }
            .image-footer {
            width: 10vw;
        }
</style>
<div class="footer container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-3">
                <div class="rounded p-2">
                    <a href="index.html">
                        <img src="https://res.cloudinary.com/dxujeg5en/image/upload/v1694517858/DSA_Logo_New_udtixz.png"
                            class="image-footer" alt="Logo">

                    </a>

                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Nagarjuna University Road, Mangalagiri,
                    Kantheru, Andhra Pradesh 522510
                </p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 8330949999</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>doctorssportsacademy@gmail.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="row gy-5 g-4">
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Quick Link's</h6>
                        <a class="btn btn-link" href="/terms">Terms & Condition</a>
                        <a class="btn btn-link" href="/privacy">Privacy & Policy</a>
                        <a class="btn btn-link" href="/cancellation">Cancellation Policy</a>
                        <a class="btn btn-link" href="/refunds">Refunds</a>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">DSA SPORT</a>, All Rights Reserved.

                    Designed By <a class="border-bottom" href="">Codegnan</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="">Home</a>
                        <a href="">Cookies</a>
                        <a href="">Help</a>
                        <a href="">FAQs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>