<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Forgot Password</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicon -->
  <link href="img/favicon.ico" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap"
    rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href="css/style.css" rel="stylesheet">


  <!--myu style code-->
  <style>
    /* *{
      border: 1px solid red;
    } */
    .container {
      max-width: 100vw;
    }

    .register {
      font-size: 2rem;
      text-align: center;
    }

    .image-logo {
      width: 5vw
    }

    .term-para {
      color: navy;
      font-weight: lighter;
      text-align: justify;
    }

    .term-heading {
      color: navy;
      font-size: 1.4rem;
    }

    .footer {
      margin-top: 6%;
    }

    .image-footer {
      width: 10vw;
    }

    @media (max-width:458px) {
      .image-fluid {
        width: 13vw
      }
    }

    .bg-image-vertical {
      position: relative;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: right center;
      background-size: auto 100%;
    }

    @media (max-width: 767px) {
      .col-md-9 {
        display: none;
      }
    }
  </style>
</head>

<body>


  <!-- Header Start -->
  <%- include('navbar.ejs') %>

  <section class="vh-100" style="margin-top: 100px;">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://doctorsolympiad.com/static/images/login-thumb.webp" class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form action="/forgot-password" method="post">
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3">Forgot Password</p>
            </div>

            <div class="divider d-flex align-items-center my-4">
              <!-- <p class="text-center fw-bold mx-3 mb-0">Or</p> -->
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="email-address" class="form-control form-control-lg"
                placeholder="Enter a valid email address" name="email" />
              <label class="form-label" for="email-address">Email address</label>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Help Me</button>
            </div>

          </form>
        </div>
      </div>
    </div>

    </div>
  </section>





  <!-- Footer Start -->
  <%- include('footer.ejs') %>
  <!-- Footer End -->


  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/tempusdominus/js/moment.min.js"></script>
  <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
  <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

  <!-- Template Javascript -->
  <script src="js/main.js"></script>


</body>
<!-- <script>
  const forgotPassword = () => {
    const emailElement = document.getElementById('email-address');

    console.log(emailElement.value);
  }
</script> -->

</html>