<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>DSA </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicon -->
  <link href="img/favicon.ico" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">  

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href="css/style.css" rel="stylesheet">

  <!--myu style code-->
  <style>
    /* *{
      border: 1px solid red;
    } */
     
      .term-para{
        color: navy; 
        font-weight: lighter;
        text-align: justify;
      }
      .term-heading{
        color: navy;
        font-size: 1.4rem;
      }
      
      
  </style>
</head>
<body>


 <!-- Header Start -->
 <% if (user) { %>
  <%- include('navbarlogout.ejs') %>
<% } else { %>
  <%- include('navbar.ejs') %>
<% } %>
<!-- Header End -->
<!-- Header End -->
    
        
    <section class="d-flex flex-column p-md-5">
        <div class="container">
          <div class="row">
            <div class="newy col-8 col-lg-12 " class="imi" style="display:flex ;justify-content: center; margin-bottom: 0%;">
              <img src="https://res.cloudinary.com/dxujeg5en/image/upload/v1694517858/DSA_Logo_New_udtixz.png" alt="" height="150px%" width="150px"style="margin-top: ;"/>
            </div>
          </div>
        </div>
        <br />
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-12">
              <h5 style="color: red">Disclaimer :</h5>
              <p>Please read the TERMS AND CONDITIONS Policy given below</p>
              <div>
                <h6 class="term-heading">Terms and Conditions.</h6>
                <p class="term-para">
                  The terms “We” / “Us” / “Our”/”Company” individually and
                  collectively refer to DSA 2023 and the terms
                  “Visitor” ”User” refer to the users. This page states the Terms
                  and Conditions under which you (Visitor) may visit this website
                  (“Website”). Please read this page carefully. If you do not
                  accept the Terms and Conditions stated here, we would request
                  you to exit this site. The business, any of its business
                  divisions and / or its subsidiaries, associate companies or
                  subsidiaries to subsidiaries or such other investment companies
                  (in India or abroad) reserve their respective rights to revise
                  these Terms and Conditions at any time by updating this posting.
                  You should visit this page periodically to re-appraise yourself
                  of the Terms and Conditions, because they are binding on all
                  users of this Website.
                </p>
              </div>
              <h6 class="term-heading">USE OF CONTENT</h6>
              <p class="term-para">
                All logos, brands, marks headings, labels, names, signatures,
                numerals, shapes or any combinations thereof, appearing in this
                site, except as otherwise noted, are properties either owned, or
                used under licence, by the business and / or its associate
                entities who feature on this Website. The use of these properties
                or any other content on this site, except as provided in these
                terms and conditions or in the site content, is strictly
                prohibited. You may not sell or modify the content of this Website
                or reproduce, display, publicly perform, distribute, or otherwise
                use the materials in any way for any public or commercial purpose
                without the respective organisation’s or entity’s written
                permission.
              </p>
            
           
            <h6 class="term-heading">ACCEPTABLE WEBSITE USE</h6>
            <p style="color: navy; font-weight: bold;">(A)Security Rules</p>
            <p class="term-para">
              Visitors are prohibited from violating or attempting to violate the security of the Web site, including, without limitation, (1) accessing data not intended for such user or logging into a server or account which the user is not authorised to access, (2) attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorisation, (3) attempting to interfere with service to any user, host or network, including, without limitation, via means of submitting a virus or “Trojan horse” to the Website, overloading, “flooding”, “mail bombing” or “crashing”, or (4) sending unsolicited electronic mail, including promotions and/or advertising of products or services. Violations of system or network security may result in civil or criminal liability. The business and / or its associate entities will have the right 
              to investigate occurrences that they suspect as involving such violations and will
               have the right to involve, and cooperate with, law enforcement authorities in 
               prosecuting users who are involved in such violations.
  
  
            </p>
            <h6 class="term-heading">ACCEPTABLE WEBSITE USE</h6>
            <p style="color: navy; font-weight: bold;">(B) General Rules</p>
            <p class="term-para">
              Visitors may not use the Web Site in order to transmit, distribute, store or destroy 
              material (a) that could constitute or encourage conduct that would be considered a 
              riminal offence or violate any applicable law or regulation, (b) in a manner that 
              will infringe the copyright, trademark, trade secret or other intellectual property 
              rights of others or violate the privacy or publicity of other personal rights of others, or (c) that is
               libellous, defamatory, pornographic, profane, obscene, threatening, abusive or hateful.
  
  
            </p>
            <h6 class="term-heading">INDEMITY</h6>
            <p class="term-para">
              The User unilaterally agree to indemnify and hold harmless, without objection, 
              the Company, its officers, directors, employees and agents from and against 
              any claims, actions and/or demands and/or liabilities and/or losses and/or
               damages whatsoever arising from or resulting
               from their use of doctorssportsacademy.com or their breach of the terms .
            </p>
            <h6 class="term-heading">Liability</h6>
            <p class="term-para">
              User agrees that neither <span class="red">Company</span> nor its group companies, directors, 
              officers or employee shall be liable for any direct or/and indirect or/and incidental
               or/and special or/and consequential or/and exemplary damages, resulting from the use 
               or/and the inability to use the service or/and for cost of procurement of substitute 
               goods or/and services or resulting from any goods or/and data or/and information 
               or/and services purchased or/and obtained or/and messages received or/and transactions entered into through or/and from the service
                or/and resulting from unauthorized access to or/and alteration of user’s
                 transmissions or/and data or/and arising from any other matter relating to the
                 service, including but not limited to, damages for loss of profits or/and use or/and 
                 data or other intangible, even if<span class="red">Company</span> has been advised 
                 of the possibility of such damages. </p>
             <p class="term-para">   User further agrees that <span class="red">Company</span>  shall not be liable for any damages arising 
                 from interruption, suspension or termination of service, including but not limited
                  to direct or/and indirect or/and incidental or/and special consequential or/and exemplary damages, whether such interruption or/and suspension or/and 
                 termination was justified or not, negligent or intentional, inadvertent or advertent.
              </p>
              <p class="term-para">
                  User agrees that <span class="red">Company</span>  shall not be responsible or liable to user, or anyone,
                   for the statements or conduct of any third party of the service. In sum, in no 
                   event shall Company’s total liability to the User for all damages or/and losses 
                   or/and causes of action exceed the amount paid by the User to
                   Company, if any, that is related to the cause of action.
              </p> <br/>
              <h6 class="term-heading"> DISCLAIMER OF CONSEQUENTIAL DAMAGES</h6>   
              <p class="term-para">
              In no event shall Company or any parties, 
              organizations or entities associated with the corporate brand name 
              us or otherwise, mentioned at this Website be liable for any damages whatsoever 
              (including, without limitations, incidental and consequential damages, lost profits, 
              or damage to computer hardware or loss of data information or business interruption) resulting from the use or inability to use the Website and the Website material, whether based on warranty, contract, tort, or any other legal theory, and whether or not, such organization or entities were advised of the possibility of such damages.
              </p>
            </div>
          </div>
        </div>
        
    </section>

    <!-- Footer Start -->
    <%- include('footer.ejs') %>
  <!-- Footer End -->

  
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>


</body>
</html>
