option_settings:
  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: 'true'
    Protocol: HTTPS
    Rules: DSA
    SSLCertificateArns: arn:aws:acm:ap-south-1:318090870147:certificate/437e288d-7969-46fa-8002-d4f09e0d71cb
  aws:elasticbeanstalk:environment:process:https:
    Port: '443'
    Protocol: HTTPS
  aws:elasticbeanstalk:environment:process:DSA:
    HealthCheckPath: /
    Port: '4443'
    Protocol: HTTPS
  aws:elbv2:listenerrule:DSA:
    PathPatterns: /*
    Priority: 1
    Process: DSA